body{
	padding: 0;
	margin: 0;
	box-sizing: content-box;
	font-family: sans-serif;
}
h1{
	margin-block: 0;
}
.form p{
	margin-block-start:4px;
	margin-block-end: 4px;
	font-size: 10px;
}
.form{
	display: grid;
	grid-template-columns: 1.1fr 1fr 1fr 1fr 1fr 1fr;
}
.form h1{
	font-size: 1em;
	text-transform: uppercase;
}

.info__form__daerah__asal .info__data__kepindahan{
	grid-column: 1/7;
	font-size: 13px;

}
.form h1 {
	font-size: 13px;
}
td{
	font-size: 13px;
}
.td_nik{
	padding: 0 1px;
}

.nokk, .kepala__keluarga, .alamat, .alasan{
	grid-column: 1/2;
}
.isi__nokk{
	border-spacing: 0;
}
.isi__kepala__keluarga{
  border: 1px solid black;
  padding: 3px 0;
  text-transform: uppercase;
}
.isi__desa, .isi__kec, .isi__kab, .isi__prop, .isi__alamat {
	width: 93%;
  border: 1px solid black;
  padding: 2px 0;
  text-transform: uppercase;
}
.rtrw {
  border: 1px solid black;
  padding: 0 8px;
}
.isi__nokk, .isi__kepala__keluarga, .isi__alasan{
	grid-column: 2/7;
}
.isi__alasan{
	display: grid;
	grid-template-columns: 1fr 2fr 2fr 2fr 2fr 2fr;
	margin-top: 5px;
	/*grid-row: 1fr 1fr;*/
}
.selected__alasan{
	grid-column: 1/2;
	grid-row: 1/3;
	border: 1px solid black;
	text-align: center;
	align-self: center;
	width: 48%;
}
.pek{
	grid-column: 2/3;
	grid-row: 1/2;
}
.keam{
	grid-column: 3/4;
	grid-row: 1/2;
}
.pend{
	grid-column: 2/3;
	grid-row: 2/3;
}
.kes{
	grid-column: 3/4;
	grid-row: 2/3;
}
.kel{
	grid-column: 4/5;
	grid-row: 2/3;
}
.lainnya{
	grid-column: 6/7;
}
.pilihan__alasan{
	font-size: 10px;
}

.isi__alamat{
	grid-column: 2/5;
}
.desa, .kec{
	grid-column: 1/2;
	text-indent: 1em;
}
.isi__desa, .isi__kec{
	grid-column: 2/4;
}

.kab, .prop {
	grid-column: 4/5;
	text-indent: 1em;
}

.isi__kab, .isi__prop{
	grid-column: 5/7;
}

.kodepos{
	grid-column: 2/4;
}

/*.isi__kodepos{
	grid-column: 3/4;
}*/

.telp{
	grid-column: 4/5;
	text-indent: 1em;
}

.isi__telp{
	grid-column: 5/7;
}

.klasif__pindah{
	margin-top: 10px;
}
.link__desa{
	grid-column: 2/4;
	grid-row: 1/2;
}

.antar__desa{
	grid-column: 2/4;
	grid-row: 2/3;
}
.antar__kec{
	grid-column: 4/6;
	grid-row: 1/2;
}
.antar__kab{
	grid-column: 4/6;
	grid-row: 2/3;
}
.antar__prop{
	grid-column: 6/7;
}

.kep__kel{
	grid-column: 2/5;
	grid-row: 1/2;
}

.kep__kel__sel{
	grid-column: 2/5;
	grid-row: 2/3;
}

.kep__kel__sbg{
	grid-column: 5/7;
	grid-row: 1/2;
}
.kep__angg{
	grid-column: 5/7;
	grid-row: 2/3;
}

.nump__kk{
	grid-column: 2/4;
	grid-row: 1/2;
}
.kk__baru{
	grid-column: 2/4;
	grid-row: 2/3;
}
.no__angg{
	grid-column: 5/7;
	grid-row: 1/2;
}
.kk__tetap{
	grid-column: 5/7;
	grid-row: 2/3;
}

.nump__kk__pdh{
	grid-column: 2/3;
	grid-row: 1/3;
	align-self: center;
}

.mb__kk__baru{
	grid-column: 3/4;
	grid-row: 1/3;
	align-self: center;
}

.kep__kel__tetap{
	grid-column: 4/6;
	grid-row: 1/3;
	align-self: center;
}

.rencana__pdh{
	margin-top: 10px;
}

td.td__tgl__pind{

	width: 3em;
	border: 1px solid black;
	padding: 0 1px;
	text-align: center;
}



.kosong{
	border: 0px solid black !important;
}
.isi__tgl__pdh{
	border-spacing: 0;
	margin-top: 10px;
}

/*.isi__tgl__pdh tbody{
	margin-top: 10px;
}*/

.kel__pindah{
	grid-column: 1/2;
}

.table__kel__pindah{
	grid-column-start: 1;
	grid-column-end: 7;
	/*border: 1px solid black;*/
	border-spacing: 0;
	width: 100%;
}
.table__kel__pindah thead tr th, .table__kel__pindah tbody tr td{
	border: 1px solid black;
}

.table__kel__pindah tbody tr td{
	text-align: center;
}
.td__kk_nama{
	text-align: left !important;
}

.tanda__tangan{
	grid-column: 1/7;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	width: 90%;
	margin: 0 auto;

}

.camat{
	align-items: center;
	justify-items: center;
}

.camat__datang{
	grid-column: 2/3;
}
